<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TheBluesTestSuite" parallel="methods">
    <test name="TestOrder">
        <classes>
            <class name="com.browserstack.tests.AddProductToCartTest" />
        </classes>
    </test>
</suite>